<div class="container-fluid">
  <div class="row">
    <div class="col-2 nav">
      <div class="page">
        <div class="icon"></div>
        <p class="label">Users</p>
      </div>
      <div class="page">
        <div class="icon"></div>
        <p class="label">Repositories</p>
      </div>
      <div class="page">
        <div class="icon"></div>
        <p class="label">Topics</p>
      </div>
      <div class="page">
        <div class="icon"></div>
        <p class="label">Labels</p>
      </div>
    </div>
    <div class="col-10"></div>
  </div>
</div>
