<div class="container-fluid">
  <div class="row">
    <!--  Navigation  -->
    <div class="col-2 nav">
      <div  class="page users">
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
        </div>
        <p routerLink="/users/1" class="label">Users</p>
      </div>
      <div id="current" class="page repositories">
        <div class="mark"></div>
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book"><path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path><path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path></svg>
        </div>
        <p class="label">Repositories</p>
      </div>
      <div class="page topics">
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clipboard"><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"></path><rect x="8" y="2" width="8" height="4" rx="1" ry="1"></rect></svg>
        </div>
        <p class="label">Topics</p>
      </div>
      <div class="page commits">
        <div class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-activity"><polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline></svg>
        </div>
        <p class="label">Commits</p>
      </div>
    </div>

    <!--  Search Box and Results  -->
    <div class="main-panel col-10">
      <div class="top-bar">
        <app-search></app-search>
        <div class="other">
          <button routerLink="" class="back-btn">Back</button>
        </div>
      </div>
      <div class="results">
        <!--    potential for easy pipe - change 67996 to 67,996    -->
        <h1>{{ totalCount }} Results</h1>

        <div class="user" *ngFor="let user of users">
          <img src="{{user.avatar_url}}}" alt="">
          <h1 class="name">{{user.login}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
