<div class="container-fluid no-padding">
  <div class="row">
    <nav class="col-3">
      <img src="{{user.avatar_url}}}">
      <div class="description">
        <h1 class="name">{{userInformation.name || user.login}}</h1>
        <p class="followers">Followers: {{userInformation.followers}}</p>
        <p class="organizations">Following: {{userInformation.following}}</p>
        <p>Find me here: </p>
        <a class="link" href="{{user.html_url}}">{{userInformation.html_url}}</a>
      </div>
    </nav>
    <main class="col-9">
      <div class="results">
        <!--    potential for easy pipe - change 67996 to 67,996    -->
        <h1>Repositories</h1>

        <div class="repository" *ngFor="let repository of repositories">
          <div class="header">
            <a routerLink="/repositories/{{pageNumber}}/{{repository.owner.login}}/{{repository.name}}"  class="title">{{repository.full_name}}</a>
            <div class="stars">
              <span class="star-img"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg></span>
              <span class="star-count">{{repository.stargazers_count}} stars</span>
            </div>
            <div class="language">
              <div appMakeCircular style="background-color:{{repository.language | languageColor}}" class="color"></div>
              <div class="text">{{repository.language}}</div>
            </div>
          </div>
          <div class="description">
            <p class="text">{{repository.description}}</p>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
